.contact {
	margin: 75px 50px;
}

.contactContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-wrap: wrap;
}
.contact h2 {
	font-family: "Libre Baskerville", serif;
	color: #3d1f14;
	font-size: 40px;
}

.tagline {
	width: 650px;
	padding-bottom: 10px;
	margin-left: 85px;
}

.socials {
	margin-left: 90px;
	margin-top: 10px;
}

.socials a {
	text-decoration: none;
	color: inherit;
}

.socials a {
	text-decoration: none;
	color: inherit;
	position: relative;
}

.socials a::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	left: 0;
	bottom: -2px;
	background-color: #825a3c;
	transition: width 0.3s ease;
}

.socials a:hover::after {
	width: 40%;
}

.socials p {
	font-family: "Nunito Sans", serif;
	color: #825a3c;
	font-size: 23px;
}

.socials h3 {
	font-family: "EB Garamond", serif;
	color: #582c11;
	/* color: #674831; */
	font-size: 45px;
}

.socials i {
	margin-right: 5px;
}

/* contact form styles */
.contactForm {
	background-color: #e3d1c0;
	padding: 20px;
	border-radius: 10px;
	margin-top: -150px;
}

.contactForm label {
	display: block;
	margin-bottom: 8px;
	font-family: "Nunito Sans", serif;
	color: #674831;
}

.contactForm textarea,
.contactForm input {
	width: 97%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: "Nunito Sans", serif;
	color: #3d1f14;
}

.contactForm textarea {
	resize: none;
	min-height: 100px;
}

.contactForm button {
	cursor: pointer;
	margin: 15px;
	background: linear-gradient(90deg, #3d1f14, #674831);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(190, 165, 165, 0.2);
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
	font-family: "Libre Baskerville", serif;
	color: #dac1b1;
	font-size: 25px;
	padding: 18px 90px;
	text-decoration: none;
	display: inline-block;
	flex-shrink: 0;
}

.contactForm button:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.contactForm button:active {
	transform: scale(0.98);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.contactForm h2 {
	text-align: left;
}

@media (min-width: 320px) and (max-width: 374px) {
	.contact {
		margin: 0 20px;
	}

	.contactContainer {
		display: flex;
		flex-direction: column;
	}

	.contact h2 {
		font-size: 15px;
		text-align: center;
		margin-bottom: 10px;
	}

	.socials p {
		font-size: 12px;
	}

	.socials h3 {
		font-size: 15px;
	}
	.tagline {
		width: 100%;
		margin: 0 auto 10px auto;
		font-size: 14px;
		padding: 0 10px;
		text-align: center;
	}

	.socials {
		margin: 10px auto;
		text-align: center;
	}

	.contactForm {
		margin: 0 auto;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
	}

	.contactForm h2 {
		font-size: 20px;
		text-align: center;
	}

	.contactForm button {
		font-size: 15px;
		padding: 12px 0;
		width: 90%;
		margin: 5px 10px;
	}

	.contactForm textarea,
	.contactForm input {
		width: 92%;
		font-size: 12px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.contact {
		margin: 0px 20px;
	}

	.contactContainer {
		display: flex;
		flex-direction: column;
	}

	.contact h2 {
		font-size: 19px;
		text-align: center;
		margin-bottom: 10px;
	}

	.socials p {
		font-size: 15px;
	}

	.socials h3 {
		font-size: 19px;
	}
	.tagline {
		width: 100%;
		margin: 0 auto 10px auto;
		font-size: 15px;
		padding: 0 10px;
		text-align: center;
	}

	.socials {
		margin: 13px auto;
		text-align: center;
	}

	.contactForm {
		margin: 0 auto;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
	}

	.contactForm h2 {
		font-size: 23px;
		text-align: center;
	}

	.contactForm button {
		font-size: 15px;
		padding: 13px 0;
		width: 90%;
		margin: 5px 15px;
	}
	.contactForm textarea,
	.contactForm input {
		width: 93%;
		font-size: 15px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.contact {
		margin: 0px 20px;
	}

	.contactContainer {
		display: flex;
		flex-direction: column;
	}

	.contact h2 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}

	.socials p {
		font-size: 17px;
	}

	.socials h3 {
		font-size: 24px;
	}
	.tagline {
		width: 100%;
		margin: 0 auto 10px auto;
		font-size: 17px;
		padding: 0 10px;
		text-align: center;
	}

	.socials {
		margin: 13px auto;
		text-align: center;
	}

	.contactForm {
		margin: 0 auto;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
	}

	.contactForm h2 {
		font-size: 25px;
		text-align: center;
	}

	.contactForm button {
		font-size: 17px;
		padding: 13px 0;
		width: 90%;
		margin: 5px 15px;
	}
	.contactForm textarea,
	.contactForm input {
		width: 94%;
		font-size: 17px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.contact {
		margin: 75px 40px;
	}

	.contact h2 {
		font-size: 40px;
	}

	.tagline {
		width: 350px;
		padding-bottom: 10px;
		margin-left: 5px;
	}

	.socials {
		margin-left: 5px;
		margin-top: 2px;
	}
	.socials p {
		font-size: 20px;
	}

	.socials h3 {
		font-size: 40px;
	}

	.socials i {
		margin-right: 5px;
	}

	/* contact form styles */
	.contactForm {
		padding: 20px;
		border-radius: 10px;
		margin-top: -250px;
		margin-right: -20px;
	}

	.contactForm label {
		display: block;
		margin-bottom: 8px;
	}

	.contactForm textarea,
	.contactForm input {
		width: 94%;
		padding: 10px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 20px;
	}

	.contactForm button {
		font-size: 20px;
		padding: 15px 80px;
	}

	.contactForm h2 {
		text-align: left;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.contact {
		margin: 70px 50px;
	}

	.contactContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex-wrap: wrap;
	}

	.tagline {
		width: 350px;
		padding-bottom: 10px;
		margin-left: 5px;
	}

	.socials {
		margin-left: 5px;
		margin-top: 2px;
	}
	.socials p {
		font-size: 20px;
	}

	.socials h3 {
		font-size: 40px;
	}

	.socials i {
		margin-right: 5px;
	}

	/* contact form styles */
	.contactForm {
		padding: 20px;
		border-radius: 10px;
		margin-top: -250px;
		margin-right: -20px;
	}

	.contactForm label {
		display: block;
		margin-bottom: 8px;
	}

	.contactForm textarea,
	.contactForm input {
		width: 94%;
		padding: 10px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 20px;
	}

	.contactForm button {
		font-size: 20px;
		padding: 15px 65px;
	}
}

@media (min-width: 2560px) {
	.contact {
		margin: 75px 50px;
	}

	.contact h2 {
		font-family: "Libre Baskerville", serif;
		color: #3d1f14;
		font-size: 65px;
	}

	.tagline {
		width: 950px;
		padding-bottom: 10px;
		margin-left: 85px;
	}

	.socials {
		margin-left: 90px;
		margin-top: 10px;
	}
	.socials p {
		font-size: 40px;
	}

	.socials h3 {
		font-family: "EB Garamond", serif;
		color: #582c11;
		/* color: #674831; */
		font-size: 53px;
	}

	.socials i {
		margin-right: 5px;
	}

	/* contact form styles */
	.contactForm {
		padding: 30px;
		border-radius: 20px;
		margin-top: -230px;
	}

	.contactForm label {
		font-size: 40px;
	}

	.contactForm textarea,
	.contactForm input {
		width: 96%;
		padding: 25px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 40px;
	}

	.contactForm button {
		margin: 15px;
		border-radius: 40px;
		font-size: 40px;
		padding: 30px 100px;
		display: inline-block;
		flex-shrink: 0;
	}
}
